

/*=========================================
	Header
==========================================*/
.jumbotron {
    background-image: url("Image6.JPG");
	background-attachment: fixed;
    background-size: cover;
    height: 650px;
}

@media (max-width: 767px) {
	.jumbotron {
		background-image: url("Image5.JPG");
		background-attachment: fixed;
		background-size: cover;
		height: 350px;
		margin-top: 10px;
	}
}

.mainpage1 {
    font-size: 30px;
    color: white;
	border-color: black; 
    text-align: right;
	padding-right:5%;
}

.mainpage2 {
    font-size: 30px;
    color: white;
	border-color: black;
    text-align: center;
	padding-top:5px;
	padding-bottom:5px;
}


#navigation {
  background-color: #00cc99;
  border: 0 none;
  margin: 0;
  padding:0;
  overflow: hidden;
  
    -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
	    -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
			transition: background-color 800ms linear;
}

.navbar-toggle i {
	color: #fff;
    
}

.navbar-brand {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#logoid {
    max-width: 100%;
    max-height: 60px;
    margin-left: 5px;
	padding:0;
}

@media (max-width: 435px)
{
    #logoid {
        max-width: 85%;
        max-height: 60px;
        margin-left: 5px;
        float:none;
		padding:0;
		margin-bottom:0;
    }
	#toggle-btn
	{
		padding:0;
	}
}



.navbar-nav li a {
    font-weight: 600;
    color: white;
    background-color: transparent;
    font-size: 18px;
}

.navbar-nav li.active a {
    background-color: white;
    color: #00cc99;/*#00004d;*/
    font-weight: 600;
    font-size: 18px;
}

.navbar-nav li.onclick a {
    background-color: transparent;
    color: #66ffd9/*#0000b3/*#ac00e6*/;
    font-weight: 600;
    font-size: 18px;
}

.navbar-nav li.active:hover a {
    background-color: white;
    color: #66ffd9/*#0000b3*/;
    font-weight: 600;
    font-size: 18px;
}

.navbar-nav li a:hover {
    background-color: #66ffd9/*#0000b3*/;
    font-weight: 600;
    font-size: 18px;
}

#nv5
{
    /*background-color: #ff4d4d;*/
    margin-right:15px;
}

#fa-id
{
	color: #66ffd9;/*#00cc99;*/
	font-size: 65px;
}

#fa-id2
{
	color: #66ffd9; /*#00cc99; /*#66ffd9;*/
	font-size: 150px;
	float: center;
	/*background-color: white;*/
}
@media(max-width:1180px){
	#fa-id2
	{
		color: #66ffd9; /*#00cc99; /*#66ffd9;*/
		font-size: 120px;
		float: center;
		/*background-color: white;*/
	}
}
@media(max-width:991px){
	#fa-id2
	{
		color: #66ffd9; /*#00cc99; /*#66ffd9;*/
		font-size: 60px;
		float: center;
		/*background-color: white;*/
	}
}

#asideid {
    background-color: #600080;
    color:white;
}

#resume
{
    width:100%;
    align-items:center;
    height:100%;
	padding-top:30px;
}


@media (max-width: 1024px) {
    .navbar-header {
        float: none;!important;
    }

    .navbar-brand{
        float:none;
    }
    .navbar-toggle {
        display: block;
      }

     .navbar-collapse.collapse {
          display: none!important;
      }

    .navbar-nav {
        float: none!important;
    }

    .navbar-nav>li {
        float: none; !important;
    }

    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden !important;
    }
	#nv5
	{
		/*background-color: #ff4d4d;*/
		margin-right:0px;
	}
	.jumbotron {
		margin-top:10px;
	}
}

/*=========================================
    MainBody
==========================================*/

#mainbody {
    background-color: white;
    border: 0 none;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;

    position:fixed;
    left:0;
    top:0;
}


.h1{
    font-size: 40px;
    color: #66ffd9 ;
    text-shadow: 10px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.h1_id{
    font-size: 40px;
    color: #00cc99 ;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

#mypic {
    max-width:100%;
    max-height:100%;
}

.row-fluid1 {
     min-height: 80px;
     background-color: white;
     margin-top: 25px;
     margin-bottom: 20px;
     box-shadow: 4px 4px 2px darkgrey;
     margin-left: 15px;
     margin-right: 5px;
     padding-top: 10px;
     padding-bottom: 10px;
 }


.tab1-1 {
    background-color: darkgrey;
    color: white;
    margin-top: 7px;
    min-height:50px;
    overflow: visible;
    width: 100%;
}

.tab1-2 {
    margin-top: 7px;
    min-height:50px;
    overflow: visible;
    width: 100%;
}

.tab1-3 {
    margin-top: 7px;
    min-height:50px;
    overflow: visible;
    width: 100%;
}

.tab1-4 {
    margin-top: 7px;
    min-height:50px;
    overflow: visible;
    width: 100%;
}


.row-fluid2 {
    min-height: 210px;
    background-color: white;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tab2 {
    background-color: white;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: visible;
}

.row-tab {
    width:100%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 0;
    margin-right: 0;
}

.h2 {
    color: white /*#0a1e80*/;
    font-size: 30px;
    padding-bottom: 10px;
}



.hello {
    color:white;
    size:25px;
}

.welcome {
    background-color:#00cc99/*#00004d*/;
    size:25px;
    text-align:center;
	width:100%;
	padding-left:0px;
	padding-right:0px;
}

.tab2-1 {
    background-color: #00cc99/*#b3ffec/*#9999ff/*#e0b3ff*/;
    float:none;
	color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 2px darkgrey;
}

#email, #linkedin, #github{
    color:white;
    text-decoration: underline;
}

#email a:hover, #linkedin a:hover, #github a:hover {
    color:white;
    text-decoration: underline;
}


.tab2-2 {
    background-color: #b3ffec/*#9999ff*/;
    float:none;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 2px darkgrey;
    /*overflow:hidden;*/
}

.h3-4 {
    color:#008060/*#00001a*/;
}

#h2_id {
    color: #00cc99 /*#008060 /*#0a1e80*/;
    font-size: 20px;
}

.tab2-3 {
    background-color: white;
    float:none;
    text-align: left;
    height:400px; !important;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 2px darkgrey;
}

.tab2-2-1 {
    height: 100%;
    width: 100%;
    /*overflow:hidden;*/
}



.row-fluid3 {
    background-color: white;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
	float: center;
}

/*====================================
		Footer
====================================*/

#footer-id
{
	background-color: #008060;
	width=100%;
}

#Resume, #FAQs
{
	size: 20px;
	color: white;
	float: center;
}

#Email, #Contactme
{
	size: 20px;
	color: white;
	float: center;
}

#tab3-id
{
	float: center;
}

.tab3
{	
	margin-top:20px;
	background-color: #008060;
	color: white;
	float: center;
	min-height: 25px;
	text-align: center;
}
